@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700;900&display=swap");

$VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$Softred: hsl(14, 88%, 65%);

//Background gradient:
$SoftViolet: hsl(273, 75%, 66%);
$SoftBlue: hsl(240, 73%, 65%);

//Text
$VeryDarkGrayishBlue: hsl(237, 12%, 33%);
$DarkGrayishBlue: hsl(240, 6%, 50%);

//Dividers
$LightGrayishBlue: hsl(240, 5%, 91%);

$font: "Kumbh Sans", sans-serif;

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, $SoftBlue, $SoftViolet);
}

.card {
  background-color: white;
  display: flex;
  border-radius: 15px;
  position: relative;
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 77%;
  background-position: -145% 70%;

  .image {
    overflow: hidden;
    padding: 4rem 0;

    img {
      transform: translateX(-80px);
    }
  }

  .box {
    position: absolute;
    left: -95px;
    transform: translateY(-22%);
    top: 50%;
    z-index: 1;
  }

  .faq {
    width: 22rem;
    padding: 2rem 5rem 2rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $DarkGrayishBlue;

    hr {
      background-color: $LightGrayishBlue;
      height: 1px;
      border: 0;
      padding: 0;
      margin: 0;
    }

    h1 {
      font-size: 2rem;
      font-weight: 700;
      color: $VeryDarkDesaturatedBlue;
    }

    .accordion-block {
      overflow: hidden;

      &:hover{
        cursor: pointer;
      }

      &.active {
        overflow: visible;

        .accordion-answer {
          height: 3rem;
        }

        .accordion-question {
          font-weight: 900;
          color: $VeryDarkDesaturatedBlue;

          img {
            transform: rotate(180deg);
          }
        }
      }
    }

    .accordion-question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.3rem 0;

      img {
        margin-right: 1rem;
      }
    }

    .accordion-answer {
      height: 0;
      transition: all 0.2s linear;
      p {
        margin-top: 0.2rem;
        margin-bottom: 1rem;
      }
    }
  }

}

@media (max-width: 700px){
  
}